.btn-right{
    float: right;
}

.btn-left{
    float: left;
}

.btn-plus{
    float: right;
    max-width: 100%;
    width: 112px;
}

.img-upload{
    border: 1px solid;
    width: 100%;
    height: auto;
}

.choose-photo{
    margin-bottom: 10%;
}

.detail-product{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 309px;
}

/* class toggle */
.center-toggle{
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}
  
.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D81014;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5BC500;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.round {
    line-height: 48px;
    color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
    background: #ff0000;
    line-height: 52px;
}

.thumbnail-custom {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 96%;
    margin: 5px 5px 5px 5px;
}

.thumbnail-custom:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.delete-img{
    font-size: 30px;
    float: right;
    margin-right: 2px;
    margin-top: -15px;
}

.backgroud-img{
    position: relative;
    background-color: rgba(0, 71, 95, 0.71);
}

.backgroud-img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .2;
    background-image: url('../../include/assets/images/background/backgroud_img.jpg');
    background-repeat: round;
}

.account{
    font-size: 30px;
    color: white;
    font-family: serif;
}

.select-phone{
    width: 15%;
    height: 100%;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #4F5467;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 1px solid #4F5467;
    border-right: 0;
    border-bottom: 1px solid #4F5467;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.custom-select{
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    border: 1px solid #4F5467 !important;
    border-radius: 5px !important;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
}

.select2-container .select2-selection--single{
    cursor: pointer !important;
    display: block !important;
    height: 35px !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    padding-top: 2px;
    border: 1px solid #4F5467 !important;
    border-radius: 0px !important;
}

.valor{
    margin-top: 4%;
}

.btn-search{
    float:right; 
    margin-bottom:2%; 
    width: 18%;
    margin-right: 1%;
}

.table-ventas{
    width:100%;
}

.form-group-venta{
    margin-bottom: 3rem; 
}

.border-top{
    /* margin-top: 23%; */
}

.custom-form-label{
    margin-left: 3%;
}

.center-table td{
    vertical-align: 0% !important;
}

.div-total{
    border: 1px solid;
    height: 111px;
    background: darkgrey;
}

.div-price{
    padding: 3%;
    font-size: 60px;
    color: white;
    text-align: center;
}

.div-price > span{
    font-size: 50px;
}